body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to top right, rgb(26, 202, 233), rgb(138, 207, 219));
}
header {
    display: flex;
    width: 100%;
    background: transparent;
    height: 6rem;
    background: #f1f1f1;
    box-shadow: 0px 1px 3px rgb(15, 15, 15);
    border-radius: 0px 0px 5px 5px;
}
.headerNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
}
.userSection {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 70%;
    justify-content: flex-end;
    align-items: center;
}
.userSection p {
    font-size: 20px;
    margin: 0em 0.5em 0em 0.5em;
}
.userImg {
    width: 70px;
    height: auto;
}
.currentUser {
    color: rgb(15, 15, 15);
    font-size: 28px;
    letter-spacing: 2px;
    display: inline-block;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 2rem 0rem 2rem;
    transition: margin-top 0.3 ease;
}
footer {
    border: 2px solid pink;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
.footerNav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.tasksection {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1em;
    justify-items: center;
}
.tasksection_card {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
    background: #f1f1f1;
    padding: 1em;
    box-shadow: 0px 1px 10px rgb(15, 15, 15, 0.5);
    border-radius: 5px;
}
.tasksection_card h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
    align-self: center;
}
.tasksection_card p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-self: center;
    height: 100%;
    width: 25%;
}
.tasksection_cardBtn {
    width: 25%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border: none;
    background: rgb(128, 123, 123);
    transition: box-shadow 0.3s ease;
}
.tasksection_cardBtn.active {
    background: linear-gradient(to top, rgb(7, 165, 7), rgb( 32,255,32));
    box-shadow: 1px 1px 5px rgb(139, 139, 19);
}
.tasksection_cardBtn img {
    width: 50px;
    height: 50px;
}
.profilesection_card {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
    background: #f1f1f1;
    padding: 1em;
    box-shadow: 0px 1px 10px rgb(15, 15, 15, 0.5);
    border-radius: 5px;
}
#resetAmountBtn {
    background: linear-gradient(to top, rgb(161, 82, 8), rgba(182, 23, 12, 0.801));
    border: 2px solid black;
    box-shadow: none;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    align-self: center;
}
.profilesection_cardheadline {
    height: 100%;
    display: flex;
    align-items: center;
    align-self: center;
}
.profilesection_card p {
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    align-self: center;
}