body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to top right, rgb(23, 173, 199), rgba(109, 216, 235, 0.842));
}
header {
    display: flex;
    width: 100%;
    height: 6rem;
    background: #f1f1f1;
    box-shadow: 0px 1px 3px rgb(15, 15, 15);
    border-radius: 0px 0px 5px 5px;
}
.headerNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
}
.userSection {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 70%;
    justify-content: flex-end;
    align-items: center;
}
.userSection p {
    font-size: 20px;
    margin: 0em 0.5em 0em 0.5em;
}
.userImg {
    width: 70px;
    height: auto;
}
.currentUser {
    color: rgb(15, 15, 15);
    font-size: 28px;
    letter-spacing: 2px;
    display: inline-block;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 2rem 0rem 2rem;
    transition: margin-top 0.3 ease;
}
footer {
    width: 100%;
    height: 4rem;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #e9e9e9, #f1f1f1);
    box-shadow: 0px -1px 3px rgba(15, 15, 15, 0.5);
    border-radius: 10px 10px 0px 0px;
}
.footerNav {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding: 1rem;
}
.footerNav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(15, 15, 15);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 1rem;
    background: linear-gradient(to top right, rgba(26, 202, 233, 0.418), rgb(138, 207, 219));
}
.tasksection {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1em;
    justify-items: center;
}
.cardcontainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    align-items: center;
}
.tasksection_card {
    display: flex;
    width: 100%;
    height: 4rem;
    padding: 1rem;
    background: #f1f1f1;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.tasksection_card h2 {
    height: 100%;
    width: 50%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
    display: flex;
}
.tasksection_card p {
    height: 100%;
    width: 25%;
    padding: 0;
    margin: 0;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
}
.tasksection_card--italic {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.tasksection_card--rightsidealigned {
    text-align: end;
}
.tasksection_card_Btnlayout {
    background: #f1f1f1;
    height: auto;
    width: 80%;
    margin: 0;
    justify-content: space-evenly;
    display: none;
    padding: 0.5rem;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 0;
}
.tasksection_card_Btnlayout.active {
    display: flex;

}
.tasksection_cardBtn img, .tasksection_cardBtn--red img {
    width: 40px;
    height: auto;
} 
.tasksection_cardBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    background: rgb(128, 123, 123);
    transition: box-shadow 0.3s ease;
}
.tasksection_cardBtn--red {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    background: rgb(128, 123, 123);
    transition: box-shadow 0.3s ease;
}
.tasksection_cardBtn.active {
    background: linear-gradient(to top, rgb(7, 165, 7), rgb( 32,255,32));
    box-shadow: 1px 1px 5px rgb(139, 139, 19);
}
.tasksection_cardBtn--red.active {
    background: linear-gradient(to top, rgb(165, 7, 7), rgb(252, 0, 0));
    box-shadow: 1px 1px 5px rgb(139, 139, 19);
}

.profilesection_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: auto;
    background: #f1f1f1;
    padding: 1em;
    box-shadow: 0px 1px 10px rgb(15, 15, 15, 0.5);
    border-radius: 5px;
}
#sysslorCheckBox {
    width: 50px;
    height: 50px;
}
.cardcontainer--resetcard {
    display: none;
    flex-direction: column;
    width: 80%;
    height: auto;
    align-items: center;    
}
.cardcontainer--resetcard.active {
    display: flex;
}
#resetAmountBtn {
    background: linear-gradient(to top, rgb(255, 1, 1), rgba(255, 17, 0, 0.856));
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-self: center;
}
.profilesection_cardheadline {
    height: 100%;
    display: flex;
    align-items: center;
    align-self: center;
}
.profilesection_card p {
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    align-self: center;
}